body {
  font-family: Arial, sans-serif;
  background: #9d8da8;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

div {
  max-width: 700px;
  margin: 20px auto;
  padding: 25px;
  background: white;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 160px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  font-size: 17px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #e9e9e9;
}

.post-place {
  margin-top: 40px;
}
.edit-btn{
  padding: auto;

}